.page{
  background-color: white;

}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
}
.logo img{
  width: 90%;
  height:50%;
  position: relative;

}
.logo{
  height:30%;
  width: 50%;
  float: left;
}
.title-words{
  height: 30%;
  width: 50%;
  float: right;
  margin-top: 5%;
}

.the-cursor:hover{
  cursor: pointer;
  color: grey;
  text-decoration: underline yellow;
}
.left-box{
  width: 10%;
  float: left;
  margin-left: 1%;
  padding-left: 1%;
  text-align: left;
}
.middle-container{
  width: 80%;
  float: right;
}
.the-center{
  margin-bottom: 25%;
  margin-top: 0%;
  padding-top: 0%;
}
html{
  border-style: solid;
  border-color: grey;
  border-radius: 1%;
  margin:1%;

}
.logo:hover{
  cursor: pointer;
}
